.wrapper {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.header {
  grid-gap: 15px;
  gap: 15px;
  display: grid;
  background-color: var(--color-light-grey);
  justify-items: center;
  padding: 50px;
  box-shadow: var(--shadow-inset);
}

.listWrapper {
  padding: 0 250px 0 250px;
}

.title {
  font-size: 48px;
  font-family: var(--bebas);
  width: 100%;
  max-width: 900px;
}

.listWrapper {
  grid-gap: 15px;
  display: grid;
  justify-items: center;
  padding: 30px;
}

.list {
  display: grid;
  gap: 30px;
  max-width: 900px;
  width: 100%;
}
