.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 25px;
}
.sign_form {
  max-width: 400px;
  width: 100%;
  text-align: center;
  input,
  button {
    height: 50px;
    font-size: 18px;
  }
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.sign_change_btn {
  color: var(--color-dark-sky);
  cursor: pointer;
}

.error {
  color: var(--error-text-color);
  margin-bottom: 24px;
}
