.wrapper {
  display: grid;
}

.header {
  // border-left: 1px solid var(--border-color);
  // border-top: 1px solid var(--border-color);
  // border-top-left-radius: 8px;
  // display: flex;
  // margin-top: 30px;
  // max-width: 900px;
  gap: 15px;
  display: grid;
  background-color: var(--color-light-grey);
  // --color-dark-grey100
  // --color-light-grey
  justify-items: center;
  padding: 50px;
  box-shadow: var(--shadow-inset);
}
.addBtn {
  background-color: var(--color-light-blue);
  padding: 10px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 100;
  font-size: 16px;
}
.title {
  font-size: 72px;
  font-family: var(--bebas);
  font-weight: bold;
}
.usersList {
  display: grid;
  gap: 10px;
}

.addMemberBtn {
  cursor: pointer;
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 0 8px;
}
.memberSearchItem {
  display: flex;
  box-shadow: var(--shadow);
  justify-content: space-between;
  padding: 5px 20px;
  font-size: 19px;
}

.title,
.description,
.projectItem {
  max-width: 900px;
  width: 100%;
}

.description {
  display: grid;
  gap: 8px;
}

.descriptionTitle {
  font-size: 21px;
  font-weight: bold;
}
.projectItem {
  display: grid;
  gap: 20px;
}
.projectItems {
  display: grid;
  padding: 30px;
  justify-items: center;
  gap: 20px;
}

.backBtn {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  max-width: 900px;
  width: 100%;
}

.tasksHeader,
.membersHeader {
  font-size: 21px;
  font-weight: bold;
  display: flex;
}

.membersHeader {
  justify-content: center;
}

.tasksHeader {
  justify-content: center;
}
