.wrapper {
  border-radius: 8px;
  padding: 30px;
  display: flex;
  // gap: 20px;
  justify-content: space-between;
  cursor: pointer;
  height: 140px;
  align-items: flex-start;

  box-shadow: var(--shadow);
  &:hover {
    background-color: var(--hover-color);
    transition: 0.3s;
  }
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.3em;
  height: 3.9em;
}

.owned {
  border: 1px solid var(--color-light-purple);
  border-radius: 10px;
  padding: 0 7px;
  background-color: var(--color-light-purple);
  color: white;
}

.projectContent {
  display: grid;
  gap: 20px;
}

.deleteProject {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
