.wrapper {
  width: 100%;
  max-width: 900px;
  display: grid;
  gap: 30px;
}

.chart {
  max-width: 900px !important;
  width: 100% !important;
  height: 300px !important;
}

.analytics {
  display: grid;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.12);
  gap: 20px;
  justify-items: center;
  padding: 25px 0;
}

.header {
  // font-family: var();
  font-size: 28px;
  font-weight: bold;
}

.analyticsMenu {
  justify-content: center;
}
