:root {
  /* DARK THEME */
  --color-dark-dark: #25274d;
  --color-dark-grey200: #464866;
  --color-dark-grey100: #aaabb8;
  --color-dark-sky: #2e9cca;
  --color-dark-blue: #29648a;

  /* LIGHT THEME */
  --color-light-blue: #5680e9;
  --color-light-aqua: #84ceeb;
  --color-light-sky: #5ab9ea;
  --color-light-grey: #c1c8e4;
  --color-light-purple: #8860d0;

  /* COMMMON COLORS */
  --border-color: #e2e2ea;
  --hover-color: #f7f7f7;
  --error-text-color: #ff4d4f;

  --shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-inset: 0px 1px 10px -2px inset;

  /* FONTS */
  --bebas: 'BebasNeue-Bold';
  --title-font: 'Montserrat-Medium';
  --text-font: 'Montserrat-Regular';
}

/* :root[data-theme="dark"] {
  --color5: #464866;
  --color1: #25274d;
  --color2: #aaabb8;
  --color3: #2e9cca;
  --color4: #29648a;
} */

/* :root[data-theme="light"] {
  --color1: #5ab9ea;
  --color2: #c1c8e4;
  --color3: #8860d0;
  --color4: #29648a;
  --color5: #84ceeb;
} */
